{{template "base" .}}

{{define "content" }}


<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
         <h2 class="mt-5"></h2>

            </div>
          </div>
      </div>

{{end}}